<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Weather Songifier</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
</head>
<body>
<div class="container-center">
    <div class="container">
        <h2 class="align-center">Welcome to Weather Songifier</h2>
        <div class="align-center" style="margin-top: 3rem">
        <a href="/oauth2/authorization/facebook" class="btn btn-primary btn-block">
            <i class="fa fa-facebook"></i> Sign in with <b>Facebook</b>
        </a>
        </div>
    </div>
</div>
</body>
</html>